body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flexbox;
}
header {
    background-color: #1c388c;
    color: #fff;
    padding: 0 0 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
section {
    display: flex;
}

.menu-icon {
    font-size: 24px;
}
.menu-text {
    font-size: 20px;
    margin-left: 10px;
}

.search-bar {
    padding: 8px;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-right: 35px;
}

.search-button {
    padding: 8px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-button i {
    font-size: 16px;
}

footer {
    background-color: #1c388c;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}
